{% extends 'layout.html' %}

{% block content %}

<h2>Add Treatment</h2>

<form method="POST">
    <input name="treatment" placeholder="Treatment (RCT, Cleaning)" required>
    <input name="description" placeholder="Description">
    
    <input type="date" name="date" required>
    <input type="date" name="next_visit">
    
    <input name="cost" placeholder="Cost">
    
    <button type="submit">Save</button>
</form>

<h2>Treatment History</h2>

<table>
<tr>
    <th>Treatment</th>
    <th>Date</th>
    <th>Next Visit</th>
</tr>

{% for t in treatments %}
<tr>
    <td>{{ t.treatment }}</td>
    <td>{{ t.date }}</td>
    <td>{{ t.next_visit }}</td>
</tr>
{% endfor %}

</table>

{% endblock %}