{% extends "layout.html" %}

{% block content %}

<h3>Patients Management</h3>

<div class="card p-3 mb-3">
<form class="mb-3">
    <input name="q" class="form-control" placeholder="Search patient...">
</form>
<form method="POST" class="row g-2">
    
    <div class="col-md-3">
        <input name="name" class="form-control" placeholder="Name">
    </div>

    <div class="col-md-2">
        <input name="age" class="form-control" placeholder="Age">
    </div>

    <div class="col-md-2">
        <input name="gender" class="form-control" placeholder="Gender">
    </div>

    <div class="col-md-3">
        <input name="mobile" class="form-control" placeholder="Mobile">
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary w-100">Add</button>
    </div>

</form>

</div>

<div class="card p-3">

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Mobile</th>
    </tr>

    {% for p in patients %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.age }}</td>
        <td>{{ p.gender }}</td>
        <td>{{ p.mobile }}</td>
    </tr>
    {% endfor %}

</table>

</div>

{% endblock %}